extends layout
block content
    for dagr in dagrs 
        .row
            .panel
                .panel-body
                    .ul
                        li Guid: #{dagr.guid}
                        li Name: #{dagr.name}
                        li Creation Time: #{dagr.creation_time}
                        li Deletion Time: #{dagr.deletion_time}
                        li Last Modified: #{dagr.last_Modified}
                        li Size: #{dagr.size}
                        li Author Id: #{dagr.author_id}
